@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
}

.home-img-init {
  left: 50% !important;
  top: 50% !important;
  right: auto !important;
  bottom: auto !important;

  transform: translate(-50%, -50%) scale(1);
}

.active-link-nav {
  @apply opacity-100 shadow-2xl;
}

/* Gerakan foto ke kiri */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Gerakan logo ke kanan (Terbalik) */
@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 20s linear infinite; /* Sedikit lebih cepat dari foto */
}

/* Rain */

@theme {
  /* Jika Anda menggunakan Tailwind v4, atau biarkan di CSS biasa jika v3 */
}

.rain {
  @apply w-[1px] h-[12px] absolute opacity-80;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), skyblue);
  top: var(--top);

  /* 1. Tetap miringkan bentuk air hujannya */
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);

  box-shadow:
    0 0 3px #faffff,
    0 0 8px #faffff;
  animation:
    jalan var(--speed) linear infinite,
    fadeOut 3s linear infinite;
}

@keyframes jalan {
  from {
    /* 2. Gunakan left untuk posisi X awal, dan mulai dari atas */
    left: var(--geserX);
    top: calc(var(--top) - 50px);
    opacity: 1;
  }

  to {
    /* 3. Gerakkan top-nya saja ke bawah secara lurus, tanpa merusak rotasi bentuk */
    left: var(--geserX);
    top: 100%;
  }
}
